        


        <div class="row">
          <div class="col-sm-8 offset-sm-2">
            <div class="card" style="border: 5px solid #d0c6c6;border-radius: 10px;">
              <div class="card-block">
                <h3 class="card-title text-center">Signup</h3>
                <form ng-submit = "signupCtrl.submitSignup()">
                  <div class="form-group">
                    <label for="firstname">Firstname</label>
                      <input type="name" name="input-firstname" ng-model="signupCtrl.firstname" class="form-control" id="input-firstname" aria-describedby="firstNameHelp" placeholder="Enter firstname" required>
                  </div>

                  <div class="form-group">
                    <label for="lastname">Lastname</label>
                      <input type="name" name="input-lastname" ng-model="signupCtrl.lastname" class="form-control" id="input-lastname" aria-describedby="lastNameHelp" placeholder="Enter lastname">         
                  </div>

                  <div class="form-group">
                    <label for="Email">Email address</label>
                    <input type="email" name="inputEmail" ng-model="signupCtrl.email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>

                  <div class="form-group">
                    <label for="Email">Phone Number</label>
                    <input type="number" name="inputEmail" ng-model="signupCtrl.phone" class="form-control" id="Phone" aria-describedby="emailHelp" placeholder="Enter phone" required>
                    <small id="emailHelp" class="form-text text-muted">Your Phone number will stay with us.</small>
                  </div>

                  <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="inputPassword" ng-model="signupCtrl.password" class="form-control" id="Password" placeholder="Enter Password" required>
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
                <div class="card-footer text-muted">
                  <a ng-href="#/">Back to Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
