

        <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <div class="card" style="border: 1px solid grey;">
              <div class="card-block">
                <form ng-submit = "forgotCtrl.updatePassword()">
                  <div class="form-group">
                    <label for="Password"> Nouveau mot de pase</label>
                    <input type="password" name="inputEmail" ng-model="forgotCtrl.newPassword" class="form-control" id="Password" aria-describedby="passHelp" placeholder="Enter password" required>
                  </div>
                  <button class="btn btn-success" type="submit" style="margin-bottom: 0.5rem;">Enregistrer
                    <span><i class="fa fa-refresh"></i></span>
                  </button>
                 
                </form>
                <div class="card-footer text-muted">
                  <a ng-href="#/">s'authentifier</a>
                </div>
              </div>
            </div>
          </div>
        </div>